**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/.pnp
**/.pnp.js
**/coverage
**/build
**.DS_Store
**.env.local
**.env.development.local
**.env.test.local
**.env.production.local
**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*
**.db-*
**.jwk
**/.containers/
LICENSE
README.md